@page
@model MyNUnitWeb.Pages.Tests.ViewTestsModel

@{
    ViewData["Title"] = "ViewTests";
}

<h1>ViewTests</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].ElapsedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].ReasonForIgnoring)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Test) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForIgnoring)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
